body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

span {
  color: midnightblue;
}

footer {
  text-align: right;
  color: midnightblue;
}

.left {
  float: left
}

.right {
  float: right
}

.card {
  width: 45% ;
}

.tile-image {
    height: 200px;
    float: left;
    margin-right: 50px;
}

@media (max-width: 680px) {
    .logo {
        width: 100px;
    }

    h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .card {
      display: block;
      width: 100%;
      justify-content: center;
      margin-bottom: 30px;
    }

    .left {
      float: none;
    }

    .right {
      float: none;
    }
    
    .card > img {
      object-fit: cover;
      display: inline;
      float: none;
      width: 100%;
    }

    h2 {
      margin: 0px;
    }
}


